.selected {
  @apply bg-blue-600 text-white shadow-none;
}
.selected:hover:not([disabled]) {
  @apply !bg-blue-700 text-white shadow-none;
}

.months {
  @apply flex justify-center font-semibold;
}

.day {
  @apply h-20 lg:h-24 w-14 lg:w-16 rounded-2xl border border-slate-100 drop-shadow-md shadow-xl text-2xl mx-2;
}

/* Turns to
.selected{
    background-color: rgb(239 68 68);
    padding: 24px
}
.selected:hover:not([disabled]){
   background-color: rgb(185 28 288) !important;
}
*/
